<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="api-mscdn.dev.nugettest.org" value="https://api-mscdn.dev.nugettest.org/v3-index/index-mscdn.json" protocolVersion="3" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>